.popup__submit-btn {
	height: 50px;
	text-align: center;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #fff;
	background: #000;
	border-radius: 2px;
	width: 100%;
  margin: 18px 0 0 0;
}

@media screen and (max-width: 528px) {
	.popup__submit-btn {
		height: 46px;
		font-size: 14px;
		line-height: 17px;
	}
}