@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/button/button.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/content/content.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__job/profile__job.css);
@import url(./blocks/profile/__edit-btn/profile__edit-btn.css);
@import url(./blocks/profile/__add-btn/profile__add-btn.css);
@import url(./blocks/gallery/gallery.css);
@import url(./blocks/photo-card/photo-card.css);
@import url(./blocks/photo-card/__decription/photo-card__decription.css);
@import url(./blocks/photo-card/__photo/photo-card__photo.css);
@import url(./blocks/photo-card/__title/photo-card__title.css);
@import url(./blocks/photo-card/__like-btn/photo-card__like-btn.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__close-btn/popup__close-btn.css);
@import url(./blocks/popup/__container-photo/popup__container-photo.css);
@import url(./blocks/photo-card/__like-btn/_active/photo-card__like-btn_active.css);
@import url(./blocks/photo-card/__remove-btn/photo-card__remove-btn.css);
@import url(./blocks/popup/__figure/popup__figure.css);
@import url(./blocks/popup/__photo/popup__photo.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/popup/_type/_photo/popup_type_photo.css);
@import url(./blocks/popup/_type/_edit-profile/popup_type_edit-profile.css);
@import url(./blocks/popup/_type/_add-card/popup_type_add-card.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/error/error.css);
@import url(./blocks/photo-card/__like-section/photo-card__like-section.css);
@import url(./blocks/photo-card/__like-count/photo-card__like-count.css);
@import url(./blocks/profile/__picture-btn/profile__picture-btn.css);
@import url(./blocks/profile/__picture/profile__picture.css);
@import url(./blocks/form/form.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__submit-btn/form__submit-btn.css);
@import url(./blocks/form/__input/_type/_error.css);
@import url(./blocks/form/__submit-btn/_disabled/form__submit-btn_disabled.css);
