.form__input {
  height: 27px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 13px 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.form__input:focus-visible {
  padding: 4px 0 4px 4px;
}